:root {
  --font-size: 16px;
  --btn-color: #6a84ed;
}

a {
  text-decoration: none;
  color: #373753;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  padding-block: 3vw;
}

.section {
  display: block;
}

.twHomejobSection {
  display: flex;
  align-items: center;
  padding: 80px 0;
  .col {
    min-width: 420px;
  }
  .title {
    font-size: 50px;
    font-weight: 900;
    line-height: 112%;
    margin-bottom: 35px;
    max-width: 473p;
  }
  .info {
    line-height: 1.2em;
    margin-bottom: 44px;
    max-width: 354px;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 400;
  }
  .creditCard {
    font-size: 14px;
    font-weight: 500;
    line-height: 157%;
    letter-spacing: 0.25px;
    color: #727491;
    margin-left: 1.5rem;
  }
  .homeSwitchingTo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .homeSwitchingTo_cta {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
  }
  .twContainer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 13%;
    max-width: 992px;
  }
  .homeSwitchingTo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .homeSwitchingTo_cta {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
  }

  .btn {
    border: none;
    outline: none;
    background-color: var(--btn-color);
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.75px;
    padding: 16px 24px;
    border-radius: 2rem;
    margin-left: 1rem;
  }
  .twTitle {
    font-size: 36px;
    font-weight: 300;
    line-height: 133%;
    margin-bottom: 29px;
    letter-spacing: 1px;
  }

  .twParagraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 37px;
    color: #494e6a;
    letter-spacing: 0.75px;
  }

  .quote {
    position: relative;
    display: flex;
    color: #727491;
    font-weight: 500;
    font-size: 14px;
    line-height: 157%;
    letter-spacing: 0.25px;
  }

  .homeJobDone {
    margin-bottom: 37px;
    display: flex;
    flex-direction: row;
  }

  .twAvatar {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #7433ff 3%, #ffbcfe 94%);
    padding: 2px;
  }

  .quote_wrap {
    padding-left: 16px;
    color: #727491;
  }

  .quote_text {
    margin-bottom: 25px;
    color: #727491;
  }
  .homeJobCol {
    max-width: 992px;
  }
}

.twClientuseSection {
  display: flex;
  align-items: center;
  padding: 80px 0;
  .col {
    max-width: 50%;
    overflow: none;
  }
  .title {
    font-size: 50px;
    font-weight: 900;
    line-height: 112%;
    margin-bottom: 35px;
    max-width: 473p;
  }
  .info {
    line-height: 1.2em;
    margin-bottom: 44px;
    max-width: 354px;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 400;
  }
  .creditCard {
    font-size: 14px;
    font-weight: 500;
    line-height: 157%;
    letter-spacing: 0.25px;
    color: #727491;
    margin-left: 1.5rem;
  }
  .homeSwitchingTo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .homeSwitchingTo_cta {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
  }
  .twContainer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }
  .homeSwitchingTo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .homeSwitchingTo_cta {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
  }

  .btn {
    border: none;
    outline: none;
    background-color: var(--btn-color);
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.75px;
    padding: 16px 24px;
    border-radius: 2rem;
    margin-left: 1rem;
  }
  .twTitle {
    font-size: 36px;
    font-weight: 300;
    line-height: 133%;
    margin-bottom: 29px;
    letter-spacing: 1px;
  }

  .twParagraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 37px;
    color: #494e6a;
    letter-spacing: 0.75px;
  }

  .quote {
    position: relative;
    display: flex;
    color: #727491;
    font-weight: 500;
    font-size: 14px;
    line-height: 157%;
    letter-spacing: 0.25px;
  }

  .homeJobDone {
    margin-bottom: 37px;
    display: flex;
    flex-direction: row;
  }

  .twAvatar {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #7433ff 3%, #ffbcfe 94%);
    padding: 2px;
  }

  .quote_wrap {
    padding-left: 16px;
    color: #727491;
  }

  .quote_text {
    margin-bottom: 25px;
    color: #727491;
  }
  .homeJobCol {
    min-width: 440px;
    max-width: 500px;
    padding-left: 50px;
  }
}

.twSelectcarSection {
  padding: 120px 0;
  .twContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .twHeading {
    display: block;
    box-sizing: border-box;
    font-size: 50px;
    font-weight: 900;
    line-height: 112%;
    margin-bottom: 25px;
  }
  .twSectionCards {
    max-width: 760px;
  }
  .twParagraph {
    max-width: 627px;
    font-size: 20px;
    line-height: 160%;
    font-weight: 400;
    letter-spacing: 0.75px;
    color: 494e6a;
  }
  .twSectionCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
    gap: 40px;
  }

  .twSectionBtns {
    align-items: center;
    margin-top: 53px;
  }

  .twSectionBtn1 {
    border-radius: 32px;
    background: #6a84ed;
    margin: 0 5px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.75px;
    padding: 16px 24px;
    color: #fff;
  }

  .twSectionBtn2 {
    background: transparent;
    box-shadow: inset 0 0 0 2px #1d1c39;
    color: #1d1c39;
    margin: 0 5px;
    border-radius: 32px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.75px;
    padding: 16px 24px;
    width: 100%;
  }
  .twCard {
    margin-right: 20px;
    max-width: 350px;
    background: #eef1f6;
    border-radius: 24px;
    overflow: hidden;
    text-align: left;
    transition: transform 0.2s ease-in-out;
    text-decoration: none;
    color: #373753;
    gap: 20px;
  }

  .twCardSecond {
    margin-right: 20px;
    max-width: 350px;
    background: #eef1f6;
    border-radius: 24px;
    overflow: hidden;
    text-align: left;
    transition: transform 0.2s ease-in-out;
    text-decoration: none;
    color: #373753;
  }
  .twSectionCardPicture {
    display: block;
    max-width: 100%;
    overflow: hidden;
    max-height: 225px;
    text-align: left;
  }
  .twSectionCardWrap {
    padding: 25px 20px;
    text-align: left;
    color: #373753;
  }
  .twSectionCardTag {
    display: inline-block;
    background: #d6dee7;
    border-radius: 8px;
    padding: 3px 8px;
    color: #727491;
    font-size: 14px;
  }
  .twSectionCardName {
    font-size: 21px;
    line-height: 145%;
    color: #1d1c39;
    margin-top: 8px;
    font-weight: 700;
  }
  .twSectionCardCta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }
  .twSectionCardCtaHeart {
    display: flex;
    text-align: center;
  }
  .twSpan {
    font-size: 16px;
    line-height: 150%;
    color: #727491;
    font-weight: 600;
  }
  .twButton {
    border-radius: 24px;
    background: transparent;
    box-shadow: inset 0 0 0 2px #1d1c39;
    color: #1d1c39;
    font-size: 14px;
    line-height: 157%;
    padding: 9px 16px;
    font-weight: 600;
    min-height: 27px;
    letter-spacing: 0.25px;
    border: none;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  img {
    margin-right: 16px;
  }
}

.twSection {
  display: flex;
  align-items: center;
  background-color: #f5f7fa;
  padding: 80px 0;

  .col {
    min-width: 420px;
  }
  .title {
    font-size: 50px;
    font-weight: 900;
    line-height: 112%;
    margin-bottom: 35px;
    max-width: 473p;
  }
  .info {
    line-height: 1.2em;
    margin-bottom: 44px;
    max-width: 354px;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 400;
  }
  .creditCard {
    font-size: 14px;
    font-weight: 500;
    line-height: 157%;
    letter-spacing: 0.25px;
    color: #727491;
    margin-left: 1.5rem;
  }
  .homeSwitchingTo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .homeSwitchingTo_cta {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
  }
  .twContainer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 14rem;
    margin-left: 14rem;
  }
  .homeSwitchingTo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .homeSwitchingTo_cta {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
  }

  .btn {
    border: none;
    outline: none;
    background-color: var(--btn-color);
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.75px;
    padding: 16px 24px;
    border-radius: 2rem;
    margin-left: 1rem;
  }
}

.twHomeSupportSection {
  display: flex;
  align-items: center;
  padding: 80px 0;
  background-color: #f5f7fa;
  .col {
    min-width: 420px;
  }
  .title {
    font-size: 50px;
    font-weight: 900;
    line-height: 112%;
    margin-bottom: 35px;
    max-width: 473px;
  }
  .info {
    line-height: 1.2em;
    margin-bottom: 44px;
    max-width: 354px;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 400;
  }
  .creditCard {
    font-size: 14px;
    font-weight: 500;
    line-height: 157%;
    letter-spacing: 0.25px;
    color: #727491;
    margin-left: 1.5rem;
  }
  .homeSwitchingTo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .homeSwitchingTo_cta {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
  }
  .twContainer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 14rem;
    margin-left: 14rem;
  }
  .homeSwitchingTo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .homeSwitchingTo_cta {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
  }

  .btn {
    border: none;
    outline: none;
    background-color: var(--btn-color);
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.75px;
    padding: 16px 24px;
    border-radius: 2rem;
    margin-left: 1rem;
  }
  .twTitle {
    font-size: 36px;
    font-weight: 300;
    line-height: 133%;
    margin-bottom: 29px;
    letter-spacing: 1px;
  }

  .twParagraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 37px;
    color: #494e6a;
    letter-spacing: 0.75px;
  }

  .quote {
    position: relative;
    display: flex;
    color: #727491;
    font-weight: 500;
    font-size: 14px;
    line-height: 157%;
    letter-spacing: 0.25px;
  }

  .homeJobDone {
    margin-bottom: 37px;
    display: flex;
    flex-direction: row;
  }

  .twAvatar {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #7433ff 3%, #ffbcfe 94%);
    padding: 2px;
  }

  .quote_wrap {
    padding-left: 16px;
    color: #727491;
  }

  .quote_text {
    margin-bottom: 25px;
    color: #727491;
  }
  .homeJobCol {
    min-width: 440px;
    max-width: 667px;
    padding-left: 50px;
  }
  .homeSupportBtns {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    cursor: pointer;
    align-items: center;
    margin-right: 40px;
    transition: transform 0.2s ease-in-out;
  }

  .homeSupportBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 40px;
  }

  .homeSupportBtnSpan {
    font-size: 20px;
    margin-left: 17px;
  }

  .twParagraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #727491;
  }

  .twHeading {
    font-size: 50px;
    font-weight: 900;
    line-height: 112%;
    color: #1d1c35;
    letter-spacing: 1px;
    margin-bottom: 2rem;
  }

  .twSupportParagraph {
    margin-bottom: 60px;
    max-width: 577px;
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.75px;
    color: #1d1c35;
  }
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

.twTextPink {
  color: #ff22b1;
}

body {
  font-size: var(--font-size);
  font-family: 'Nunito', sans-serif;
}
